#resultButton{
    font-size: 16px;
    background-color: green;
    color: white;
    border: 0px;
    padding: 20px;
    margin-bottom: 20px;
}

.question{
    font-weight: bold;
}

.answers{
    margin-bottom: 20px;
}